@*Module 5 style*@
<style>
    .notification-menu {
        padding: 10px 65px;
        margin-top: 2px;
        cursor: pointer;
        white-space: nowrap;
        background-color: white !important;
        outline-color: black;
        border-bottom: 1px solid #eee;
    }
</style>



@*Module 5*@
<div class="container">
    @*Module 2*@
    <div class="row">
        <div class="col-4">Total Views :</div>
        <div class="col-4">
            <span id="totalViewsCounter"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-4">Total connected Users:</div>
        <div class="col-4">
            <span id="totalUsersCounter"></span>
        </div>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/UserCount.js"></script>
<script src="~/js/DeathlyHallows.js"></script>
<script src="~/js/HouseGroup.js"></script>
<script src="~/js/Notification.js"></script>
