@*Module 5 style*@
<style>
    .notification-menu {
        padding: 10px 65px;
        margin-top: 2px;
        cursor: pointer;
        white-space: nowrap;
        background-color: white !important;
        outline-color: black;
        border-bottom: 1px solid #eee;
    }
</style>

@*Module 6*@
 <div class="row">&nbsp;</div>
        <div class="row">
             <div class="col-3">Sender</div>
        <div class="col-4"><input type="text" id="senderEmail" value="@User.Identity?.Name" /></div>
         </div>
        <div class="row">
            <div class="col-3">Receiver</div>
            <div class="col-4"><input type="text" id="receiverEmail" /></div>
        </div>
        <div class="row">
            <div class="col-3">Message</div>
            <div class="col-4"><input type="text" id="chatMessage" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendMessage" value="Send Message" />
            </div>
        </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>

@*Module 5*@
<div class="container">

    <div class="container">
        <div class="row pt-3">
            <div class="col-6">
                <input type="text" class="form-control" id="notificationInput" autocomplete="off" />

            </div>
            <div class="col-3">
                <input type="button" class="btn btn-primary form-control" id="sendButton" value="Send Message" />

            </div>
        </div>
    </div>
    <div class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span id="notificationBell"> <i class="bi bi-bell"></i><span id="notificationCounter"></span></span>
        </a>
        <ul class="dropdown-menu notification-menu" id="messageList" aria-labelledby="navbarDropdown">
        </ul>
    </div>

    @*Module 4*@
    <div class="row border p-1 mt-3">
        <h3>Subscribed List: </h3>
        <hr />
        <div class="row p-2">
            <div class="col-3">
                <label style="color:#B52033" id="lbl_houseJoined"></label>
            </div>
        </div>
    </div>
    <div class="row border p-1 mt-3">
        <h3>Subscribe: </h3>
        <hr />
        <div class="row p-2">
            <div class="col-3">
                <button class="btn" style="background-color:#B52033" id="btn_gryffindor">Gryffindor</button>
            </div>
            <div class="col-3">
                <button class="btn" style="background-color:#236E50" id="btn_slytherin">Slytherin</button>
            </div>
            <div class="col-3">
                <button class="btn" style="background-color:#EDB526" id="btn_hufflepuff">Hufflepuff</button>
            </div>
            <div class="col-3">
                <button class="btn" style="background-color:#10749F" id="btn_ravenclaw">Ravenclaw</button>
            </div>
        </div>
    </div>
    <div class="row border p-1 mt-3">
        <h3>Unsubscribe: </h3>
        <hr />
        <div class="row p-2">
            <div class="col-3">
                <button class="btn" style="background-color:#B52033; display: none" id="btn_un_gryffindor">Gryffindor</button>
            </div>
            <div class="col-3">
                <button class="btn" style="background-color:#236E50; display: none" id="btn_un_slytherin">Slytherin</button>
            </div>
            <div class="col-3">
                <button class="btn" style="background-color:#EDB526; display: none" id="btn_un_hufflepuff">Hufflepuff</button>
            </div>
            <div class="col-3">
                <button class="btn" style="background-color:#10749F; display: none" id="btn_un_ravenclaw">Ravenclaw</button>
            </div>
        </div>
    </div>
    <div class="row border p-1 mt-3">
        <h3>Trigger Notification: </h3>
        <hr />
        <div class="row p-2">
            <div class="col-3">
                <button class="btn" style="background-color:#B52033" id="trigger_gryffindor">Gryffindor</button>
            </div>
            <div class="col-3">
                <button class="btn" style="background-color:#236E50" id="trigger_slytherin">Slytherin</button>
            </div>
            <div class="col-3">
                <button class="btn" style="background-color:#EDB526" id="trigger_hufflepuff">Hufflepuff</button>
            </div>
            <div class="col-3">
                <button class="btn" style="background-color:#10749F" id="trigger_ravenclaw">Ravenclaw</button>
            </div>
        </div>
    </div>
    @*Module 3*@
    <div class="row border p-1">
        <h3>Deathly Hallow Race </h3>
        <div class="col-4">
            <div>Invisibility Cloak - <span id="cloakCounter"></span></div>

        </div>
        <div class="col-4">
            <div>Resurrection Stone - <span id="stoneCounter"></span></div>

        </div>
        <div class="col-4">
            <div>Elder Wand - <span id="wandCounter"></span></div>

        </div>
        <hr />
        <p>Url to Vote:</p>
        <div>1. Invisibility Cloak - https://localhost:7001/Home/DeathlyHallows?type=cloak </div>
        <div>2. Resurrection Stone - https://localhost:7001/Home/DeathlyHallows?type=stone </div>
        <div>3. Elder Wand - https://localhost:7001/Home/DeathlyHallows?type=wand </div>
    </div>
    @*Module 2*@
    <div class="row">
        <div class="col-4">Total Views :</div>
        <div class="col-4">
            <span id="totalViewsCounter"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-4">Total connected Users:</div>
        <div class="col-4">
            <span id="totalUsersCounter"></span>
        </div>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/UserCount.js"></script>
<script src="~/js/DeathlyHallows.js"></script>
<script src="~/js/HouseGroup.js"></script>
<script src="~/js/Notification.js"></script>
<script src="~/js/Chat.js"></script>